/* variables */

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: rgb(255,255,255);

}


.button{
    background: none;
    border: 2px solid black;
    color: yellow;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}

.button:hover{
    color: cornflowerblue;
}
    
input, textarea{
    background: rgba (255, 255, 255, 0,05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
}

/* fonts */
h1{
    font-weight: bolder;
    background: linear-gradient(to left, rgb(52, 108, 212), teal);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2,h3,h4{
    font-weight:lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:paleturquoise;
}

strong{
    font-family: 'Trebuchet MS';
    color: teal;
    text-decoration:underline;
    
}

li, ul a{
  color: teal;  
  font-family:sans-serif;
}

li, ul a:active{
    color: black;
}

li, ul a:hover{
    color: black;
}

b{
    color: yellow;
}

/* mobile */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
 }
 
.site-nav{
     margin: 0 20px;
}
 
.site-nav ul{
     display: none;
}

#hamburger-menu{
    display: none;
}
 
#hamburger-menu:checked ~ ul{
    display: block;
    text-align: left;
    line-height: 40px;
}

i{
    padding: 10px 0;
    font-size: 1em;
}

.site-nav h1{
     grid-column: 2/6;
     grid-row: 1;
     padding-bottom: 10px;
     border-bottom: 3px solid yellow;
}

.page-title{
    padding: 30px 0;
    grid-column: 4/10;
}

#einstein{
    background-image: url(/images/balloon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.einstein-text h2{
    grid-column: 8/13;
    text-align: left;
    border-bottom: 1px solid yellow;
    padding-top: 60px;
    color: white;
    margin: 10px;
}

.einstein-text p{
    grid-column: 2/13;
    grid-row: 1;
    line-height: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: left;
    margin: 10px;
}

.einstein-img, .night-img, .energetica-img{
    display: none;
}

#air{
    background: white;
    padding:100px 20px 20px 20px;
    margin: 0 auto;
}

#night{
    background-image: url(/images/sculpture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.night-text h2{
    grid-column: 2/13;
    text-align: left;
    border-bottom: 1px solid yellow;
    padding-top: 60px;
    color: white;
    margin: 10px;
}

.night-text p{
    grid-column: 2/13;
    grid-row: 1;
    line-height: 20px;
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: left;
    margin: 10px;
}

#air2{
    background: white;
    padding:100px 20px 20px 20px;
    margin: 0 auto;
}

#energetica{
    background-image: url(/images/lightning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.energetica-text h2{
    grid-column: 8/13;
    text-align: left;
    border-bottom: 1px solid yellow;
    padding-top: 60px;
    color: white;
    margin: 10px;
}

.energetica-text p{
    grid-column: 2/10;
    grid-row: 1;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 200px;
    text-align: left;
    margin: 10px;
}

#contact{
    padding: 30px 20px;
    background: teal;
    margin: 0 auto;
}

#contact h3, p{
    text-align: center;
    margin-bottom: 0;
}

#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input, textarea{
    width: 100%;
    margin: 10px 0;
}

footer{
    padding: 30px 20px;
    background: white;
    margin: 0 auto;
}

footer p{
    color: black;
}

/* small pad */
@media screen and (min-width: 655px){
    i{
        font-size: 1.3em;
    }

    .page-title{
        grid-column: 6/9;
    }
}

/* pad and laptop */
@media screen and (min-width: 960px){
    main {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .site-nav ul{
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
   }

   nav label {
       display: none;
   }

   .site-nav h1{
        margin-left: 60px;
        font-size: 2em;
        border-bottom: 4px solid yellow;
    }

    .page-title{
        padding: 40px 0;
        grid-column: 5/10;
        font-size: 1.5em;
    }

   .site-nav h1{
        font-size: 2em;
        padding-bottom: 10px;
        border-bottom: 4px solid yellow;
    }

    #air, #air2{
        background: white;
        padding:60px 20px 20px 20px;
        margin: 0 -20px;
    }

    #einstein, #night, #energetica{
        padding-bottom: 200px;
    }

    .einstein-text p, .night-text p, .energetica-text p{
        text-align: start;
        line-height: 35px;
    }

}
/* large screen */
@media screen and (min-width: 1200px){
    .site-nav h1{
        margin-left: 60px;
        font-size: 2.5em;
        border-bottom: 4px solid yellow;
    }
}