/* variables */

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* base */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: rgb(255,255,255);
}


.button{
    background: none;
    border: 2px solid black;
    color: yellow;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}

.button:hover{
    color: cornflowerblue;
}
    
input, textarea{
    background: rgba (255, 255, 255, 0,05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
}

/* fonts */
h1{
    font-weight: bolder;
    background: linear-gradient(to left, rgb(52, 108, 212), teal);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2,h3,h4{
    font-weight:lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:paleturquoise;
}

strong{
    font-family: 'Trebuchet MS';
    color:teal;
    text-decoration:underline;
    
}

li, ul a{
  color:teal;  
  font-family:sans-serif;
}

li, ul a:active{
    color: black;
}

li, ul a:hover{
    color: black;
}

b{
    color: yellow;
}

/* mobile */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
 }
 
.site-nav{
     margin: 0 20px;
}
 
.site-nav ul{
     display: none;
}

#hamburger-menu{
    display: none;
}
 
#hamburger-menu:checked ~ ul{
    display: block;
    text-align: left;
    line-height: 40px;
}

i{
    padding: 10px 0;
    font-size: 1em;
}

.site-nav h1{
     grid-column: 2/6;
     grid-row: 1;
     padding-bottom: 10px;
     border-bottom: 3px solid yellow;
}

.page-title{
        padding: 40px 0;
        grid-column: 6/8;
        font-size: 1em;
}

#kids{
    background: teal;
    padding: 0 20px 20px 20px;
    margin: 0 -20px;
}

.kids-text h2{
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid yellow;
}

.kids-text{
    grid-column: 2/10;
    grid-row: 1;
    line-height: 20px;
    padding: 20px 0;

}

.kids-img{
    grid-column: 2/11;
    grid-row: 2;

}

.kids-img img{
    max-width: 100%;
}

#teachers{
    background: rgb(52, 108, 212);
    padding: 0 20px 20px 20px;
    margin: 0 -20px;
}

.teachers-text h2{
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid yellow;
}

.teachers-text{
    grid-column: 2/10;
    grid-row: 1;
    line-height: 20px;
    padding: 20px 0;
}

.teachers-img{
    grid-column: 2/11;
    grid-row: 2;
}

.teachers-img img{
    max-width: 100%;
}

#researchers{
    background: rgb(115, 98, 228);
    padding: 0 20px 20px 20px;
    margin: 0 -20px;
}

.researchers-text h2{
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid yellow;
}

.researchers-text{
    grid-column: 2/10;
    grid-row: 1;
    line-height: 20px;
    padding: 20px 0;
}

.researchers-img{
    grid-column: 2/11;
    grid-row: 2;
}

.researchers-img img{
    max-width: 100%;
}

#contact{
    padding: 30px 20px;
    background: teal;
    margin: 0 -20px;
}

#contact h3, p{
    text-align: center;
    margin-bottom: 0;
}

#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input, textarea{
    width: 100%;
    margin: 10px 0;
}

footer{
    padding: 30px 20px;
    background: white;
    margin: 0 -20px;
}

footer p{
    color: black;
}

/* small pad */
@media screen and (min-width: 620px){
    
    i{
        font-size: 1.3em;
    }

    .kids-text, .teachers-text, .researchers-text{
        grid-column: 2/12;
    }

    .kids-img, .teachers-img, .researchers-img{
        grid-column: 3/11;
        grid-row: 2;
    }
}

/* pad and laptop */
@media screen and (min-width: 960px){
    .site-nav ul{
        display: flex;
        gap: 40px;
        padding: 10px 0;
        margin-right: 400px;
        margin-left: 80px;
        padding-bottom: 30px;
   }

   .site-nav h1{
        margin-left: 60px;
        font-size: 2em;
        border-bottom: 4px solid yellow;
    }

    .page-title{
        padding: 40px 0;
        grid-column: 7/8;
        font-size: 1.5em;
    }
   
   #hamburger-menu{
       display: none;
   }
    
   #hamburger-menu:checked ~ ul{
       display: none;
   }
   
   i{
       display: none;
   }

   .site-nav h1{
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 4px solid yellow;
    }

    #teachers{
        padding-bottom: 60px;
    }

    #researchers{
        padding-bottom: 80px;
    }

    .kids-text, .teachers-text, .researchers-text{
        line-height: 30px;
    }
}

/* large screen */
@media screen and (min-width: 1200px){
    .site-nav h1{
        margin-left: 60px;
        font-size: 2.5em;
        border-bottom: 4px solid yellow;
    }

    .site-nav ul{
        gap: 80px;
        margin-right: 400px;
        margin-left: 90px;
        padding-bottom: 30px;
    }
    
    .kids-text h2, .teachers-text h2, .researchers-text h2{
        text-align: center;
        padding: 15px 0;
        border-bottom: 2px solid yellow;
    }
    
    .kids-text, .teachers-text, .researchers-text{
        grid-column: 2/5;
        grid-row: 1;
        line-height: 35px;
        padding: 20px 0;
    
    }
    
    .kids-img, .teachers-img, .researchers-img{
        grid-column: 7/13;
        grid-row: 1;
        max-width: 70%;
        padding: 75px 0;
    
    }
}